.AddProduct {
    width: 100%;
    svg {
        width: 16px;
        height: 16px;
        fill: black;
    }
    ul {
        list-style: none;
    }
    button {
        height: 28px;
        border: 1px;
        padding: 6px;
        border-radius: 50%;
        cursor: pointer;
    }
    h2 {
        color: white;
    }
    label {
        color: white
    }
}